 {
  border: solid 1px red !important;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 550px;
  border: solid 1px black;
  border-radius: 10px;
}

.navbar {
  border: solid 1px black;
  margin-top: 20px;
}

.nav-pills > li > a {
  font-size: 20px;
}

#searchArea {
  text-align: center;
}

#searchBar {
  width: 70%;
  padding-left: 10px;
}

#twitchStreams {
  margin-top: 20px;
}

#streams li {
  list-style-type: none;
  font-size: 20px;
  margin-top: 20px;
}

#streams .a1 {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  word-wrap: break-word;
}

#streams .a2 {
  display: inline-block;
  width: 180px;
  word-wrap: break-word;
}

#streams span {
  font-size: 16px;
}

#streams img {
  margin-right: 10px;
}

#streams .avatar {
  height: 50px;
  width: 50px;
  border-radius: 4px;
  margin-right: 10px;
}